body {
  overflow: hidden;
}
body nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #000018;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
body nav button {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color: #818181;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
body nav :hover {
  color: #f1f1f1;
}
body nav ul {
  padding: 1rem;
  margin: 0;
}
body nav ul #SideBar_img {
  border: none;
  margin-bottom: 1rem;
}
body nav ul #SideBar_img img {
  width: 250px;
  height: 250px;
  background-color: #818181;
  border-radius: 50%;
  object-fit: cover;
}
body nav ul li {
  margin: 0.1rem 1.5rem;
  padding: 0;
  color: #f1f1f1;
  list-style-type: none;
  text-align: center;
  overflow: hidden;
  border-bottom: 1px solid #818181;
}
body nav ul li img {
  display: inline-block;
  vertical-align: middle;
}
body nav ul li a {
  padding: 1.12rem 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-family: "Quicksand", sans-serif;
  text-align: center;
  letter-spacing: 3px;
  transition: 0.3s;
}
body nav ul li a span {
  padding-left: 0.4rem;
}
body nav ul li a:hover {
  color: #f1f1f1;
}
body nav ul li:hover {
  background-color: rgba(129, 129, 129, 0.2);
}
body nav ul #SideBar_img:hover {
  background-color: inherit;
}
body nav ul li.home {
  border-top: 1px solid #818181;
}
body nav ul li.active {
  background-image: linear-gradient(to right, #05e0f1, #2c7498);
  border: none;
}
body nav section {
  text-align: center;
  margin: 1rem 0;
  padding: 0;
}
body nav section img {
  width: 30px;
  padding: 0.3rem;
  text-align: center;
  height: auto;
}
body nav #footer {
  color: #f1f1f1;
  font-family: "Caveat", cursive;
}
body main {
  transition: margin-left 0.5s;
  padding: 1rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)), url("https://dhir0hit.github.io/Media/Background_Image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
body main #alert_items {
  position: fixed;
  z-index: 1;
  right: 1.5rem;
}
body main #alert_items #alert_info {
  display: none;
  background-image: linear-gradient(to right, #05e0f1, #2c7498);
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  font-family: "Quicksand", sans-serif;
  text-transform: capitalize;
}
body main #alert_items #alert_info div {
  display: inline-block;
  vertical-align: middle;
}
body main #alert_items #alert_info div b {
  display: inline-block;
  font-family: "Dancing Script", cursive;
  font-weight: 600;
  font-size: 1.2rem;
}
body main #alert_items #alert_info div h4 {
  display: inline-block;
}
body main #alert_items #alert_info span {
  padding: 0;
  margin: 0;
  padding-left: 1rem;
  display: inline-block;
  font-size: 2rem;
  vertical-align: middle;
}
body main #alert_items #alert_info span:hover {
  cursor: pointer;
}
body main button {
  font-size: 20px;
  cursor: pointer;
  background-color: #000018;
  -webkit-text-fill-color: linear-gradient(to right, #05e0f1, #2c7498);
  padding: 0.62rem 0.9rem;
  border: none;
}
body main button span {
  font-weight: bold;
  font-family: "Teko", sans-serif;
  letter-spacing: 0.1rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  background-image: linear-gradient(to right, #05e0f1, #2c7498);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
body main button :hover {
  background-color: #444;
}
body main article {
  margin-top: 2rem;
  padding: 1rem 2rem;
  color: #f1f1f1;
  overflow: hidden;
  height: 82vh;
  text-align: center;
}
body main article img {
  margin: auto;
  horiz-align: center;
  width: 20rem;
  background-color: #818181;
  height: 20rem;
  object-fit: cover;
  border-radius: 50%;
}
body main article h2 {
  font-family: "Dancing Script", cursive;
  font-size: 1.5rem;
  font-weight: lighter;
}
body main article h1 {
  padding: 0;
  margin: 0;
  font-family: "Bebas Neue", cursive;
  font-weight: lighter;
  font-size: 2.7rem;
  letter-spacing: 0.1rem;
}
body main article h1 span {
  color: #05e0f1;
}
body main article p {
  font-family: "Comfortaa", cursive;
  font-size: 1.2rem;
}

@media screen and (max-height: 450px) {
  #SideBar_Nav {
    padding-top: 15px;
  }
  #SideBar_Nav a {
    font-size: 18px;
  }
}
@media (max-width: 800px) {
  body nav {
    width: 0;
  }
  body nav ul #SideBar_img {
    display: block;
  }
}
@media (min-width: 801px) {
  body nav {
    width: 330px;
  }
  body nav ul #SideBar_img {
    display: none;
  }
  body main {
    margin-left: 330px;
  }
}

/*# sourceMappingURL=indexStyle.css.map */
