@keyframes navAnimation {
  0% {
    height: 0;
  }
  10% {
    height: 1rem;
  }
  20% {
    height: 2rem;
  }
  30% {
    height: 3rem;
  }
  40% {
    height: 4rem;
  }
  50% {
    height: 6rem;
  }
  60% {
    height: 8rem;
  }
  70% {
    height: 10rem;
  }
  80% {
    height: 11rem;
  }
  90% {
    height: 13rem;
  }
  100% {
    height: 15rem;
  }
}
body main nav {
  width: 100%;
  top: 0;
}
body main nav #nav_button {
  width: 100%;
  height: 3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  font-family: "Teko", sans-serif;
  background-color: #fff;
  -webkit-text-fill-color: linear-gradient(to right, #05e0f1, #2c7498);
  transition: linear 2s;
}
body main nav #nav_button span {
  font-weight: bold;
  font-family: "Teko", sans-serif;
  letter-spacing: 0.1rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  background-image: linear-gradient(to right, #05e0f1, #2c7498);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
body main nav ul {
  margin: 0;
  padding: 0;
  display: none;
  animation-name: navAnimation;
  animation-duration: 0.15s;
  background-image: linear-gradient(to right, #05e0f1, #2c7498);
}
body main nav ul li {
  flex: 25%;
  list-style-type: none;
}
body main nav ul li a {
  display: block;
  margin: 0;
  flex: inherit;
  text-decoration: none;
  padding: 1.4rem 5rem;
  position: relative;
  cursor: pointer;
  text-align: center;
}
body main nav ul li a.active {
  background-image: linear-gradient(to bottom, #a0e6ee, white);
}
body main section.side_info {
  overflow: hidden;
  background-color: #2c7498;
  z-index: 1;
  top: 3.6rem;
}
body main section.side_info img {
  width: 93%;
  margin: 1.7rem 1.2rem 1.2rem 1.2rem;
}
body main section.side_info h2 {
  padding-left: 1.5rem;
  font-family: "Teko", sans-serif;
  letter-spacing: 2px;
}
body main section.side_info h5 {
  padding-left: 2rem;
  font-family: "Comfortaa", cursive;
}
body main section.main_info {
  display: inline-block;
  margin-left: 0;
  padding: 0;
}
body main section.main_info article {
  padding-left: 1rem;
}
body main section.main_info article.top_article_info {
  margin: 0;
  top: 0;
  padding-top: 0.01rem;
  padding-bottom: 0.023rem;
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
body main section.main_info article.main_article_info {
  position: static;
  overflow: auto;
  background-color: white;
}
body main section.main_info article.main_article_info dl {
  padding-right: 1rem;
}
body main footer {
  text-align: center;
}

@media (min-width: 620px) {
  body main nav {
    position: sticky;
    position: -webkit-sticky;
  }
  body main nav #nav_button {
    display: none;
  }
  body main nav ul {
    animation: none;
    display: flex;
    flex-wrap: wrap;
  }
  body main nav ul li a {
    padding: 1.4rem 0;
  }
  body main section.main_info article.top_article_info {
    top: 3.9rem;
  }
}
@media (min-width: 900px) {
  body main nav {
    position: sticky;
    top: 0;
    margin: auto;
    z-index: 4;
  }
  body main nav ul li a {
    padding: 1.4rem 5rem;
    font-size: 1.3rem;
    font-family: "Quicksand", sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 500;
  }
  body main section.side_info {
    padding: 0;
    width: 20vw;
    position: fixed;
    height: 100%;
  }
  body main section.side_info img {
    width: 100%;
    padding: 0;
    margin: auto;
  }
  body main section.side_info h5 {
    padding-left: 2rem;
    padding-right: 1rem;
  }
  body main section.main_info {
    margin-left: 20vw;
    padding-top: 1rem;
    height: 100%;
  }
  body main section.main_info article.main_article_info {
    padding: 2rem;
    font-size: 1.1rem;
  }
  body main section.main_info article.main_article_info dl dt {
    font-size: 1.7rem;
  }
  body main footer {
    padding-left: 20vw;
    text-align: center;
    z-index: 4;
  }
}
@media (min-width: 1300px) {
  main {
    width: 80vw;
    margin: auto;
  }
}

/*# sourceMappingURL=profileStyle.css.map */
